

/* =========== Default Styles ========== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --th-bg-primary:#4997d1;
    --th-bg-orange:#ff611e;
    --th-bg-green:#43b94a;
    --th-bg-disable:#afb0b3;
    --th-bg-danger:#ff2d16;
    --text-green:#43b94a;
    --text-danger:#ff2d16;
    --text-disable:#6f7175;
    --text-light:#f4f4f4;
    --text-dark:#393939;
    --topic-disable-bg:#c4c4c6;
    --topic-disable-text:#85878b;   
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f4;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-justify-center{
    justify-content: center;
}

.flex-align-center{
    align-items: center;
}

.flex-between{
    justify-content: space-between;
}

.section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.section-title-big{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.button{
    padding: 20px 140px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
}

.button:hover{
    box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
    transition: 0.3s;
}

.button:focus{
    outline: none!important;
}

.btn-orange{
    background-color: var(--th-bg-orange);
    color: var(--text-light);
}

.btn-danger{
    background-color: var(--th-bg-danger);
    color: var(--text-light);
}

.btn-green{
    background-color: var(--th-bg-green);
    color: var(--text-light);
}

.btn-result{
    border: 3px solid white;
}

.topic-disable, .btn-disable{
    background-color: var(--topic-disable-bg)!important;
    color: var(--topic-disable-text)!important;
}

.text-green{
    color: var(--text-green)!important;
}

.text-danger{
    color: var(--text-danger)!important;
}

.form-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



/* ========== Banner Styles ========== */
.banner-area {
    background-color: var(--th-bg-primary);
    color: var(--text-light);
    font-family: arial;
}

    .banner-wrapper {
        padding: 55px 0;
        padding-top: 70px;
    }

        p.section-content {
            font-size: 17px;
            font-weight: 400;
            width: 80%;
            max-width: 550px;
        }




/* ========== Instractions Styles ==========*/
.instraction-area{
    position: relative;
    padding-bottom: 100px;
}

.instraction-wrapepr {
    position: absolute;
    top: 40px;
    z-index: 9999;
    left: 0;
    right: 0;
}


.instraction-slider {
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.instraction-slider::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 9999;
}

    .slider-img>img{
        width: 100%;
        height: 100%;
    }

    .slider-img {
        height: 100vh;
    }
    

    .instraction-contents {
        background-color: white;
        padding: 25px 40px;
        border-radius: 10px;
        width: 100%;
        max-width: 960px;
        overflow-y: auto;
        height: 500px;
    }

    .instraction-contents ol, .instraction-contents ul {
        padding: 20px;
    }

    .instraction-contents ul li, .instraction-contents ol li {
        font-size: 20px;
        margin-bottom: 30px;
        color: #2c2e35;
    }

    .instraction-contents h1, h3, h4, h5, h6 {
        font-size: 40px;
    }

    @media screen and (max-width:414px){
        .instraction-contents h1, h3, h4, h5, h6 {
            font-size: 20px;
        }
        
        .instraction-contents ul li, .instraction-contents ol li {
            font-size: 14px;
        }
    }


/* ============= topics.html ===========*/
.topics-area{
    text-align: center;
    padding-bottom: 100px;
}

#topics-wrapper{
    width: 90%;
    max-width: 875px;
    margin: 0 auto;
    margin-top: 35px;
    list-style: none;
}

#topics-wrapper li{
    margin-bottom: 14px;
}

#topics-wrapper li p.magic-topic{
    color: var(--text-light);
    font-size: 22px;
    font-weight: 600;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: var(--th-bg-green);
    cursor: pointer;
}

@media screen and (max-width:414px){
    #topics-wrapper li p.magic-topic{
        font-size: 20px;
    }
}


.topic-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.6));
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.close-topic{
    background-image: linear-gradient(45deg, #000000a6, #00000099);
    color: var(--text-light);
    position: absolute;
    top: 50px;
    right: 80px;
    z-index: 9999999999999;
    font-weight: 800;
    font-size: 15px;
    border: 3px solid var(--th-bg-green);
    border-radius: 10px;
    padding: 8px 12px;
    line-height: 1rem;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.invisible{
    visibility: hidden!important;
    opacity: 0!important;
}

.show-popup{
    visibility: visible!important;
    opacity: 1!important;
    transition: 0.4s all!important;
}



.overflow-control{
    overflow: hidden!important;
}


.popup-contents::-webkit-scrollbar{
    width: 10px!important;
}

.popup-contents::-webkit-scrollbar-track{
    border-radius: 30px!important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
}

.popup-contents::-webkit-scrollbar-thumb{
    background: #343434!important;
    border-radius: 30px!important;
    height: 200px!important;
   
}

.popup-contents::-webkit-scrollbar-thumb:hover{
    background: #777777!important;
}


.popup-contents {
    background-color: white;
    border: 3px solid var(--th-bg-green);
    border-radius: 10px;
    padding: 20px 35px;
    height: 95vh;
    overflow-y: auto;
    width: 95%;
    max-width: 1260px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left!important;
}

.popup-contents h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
}

.popup-contents p{
    margin-bottom: 15px;
}


.popup-contents ol, ul {
    padding: 20px;
}

.topics-area .button.btn-green{
    margin-top: 50px;
}

.popup-contents img{
    margin-top: 30px;
}

@media screen and (max-width:414px){
    .topics-area .button.btn-green {
        margin-top: 55px;
        padding: 15px 10px;
    }
    .popup-contents {
        padding: 20px;
    }

    .popup-contents ol li, ul li {
        font-size: 14px;
        margin-bottom: 10px!important;
    }

    .popup-contents img {
        width: 100%;
        margin-top: 30px;
    }
}

.proceed-btn{
    visibility: hidden;
    opacity: 0;
}


/* ============ question.html =========== */

.question-box {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
}

h4.q-title {
    font-size: 18px;
}

#question-list {
    height: 1500px;
    overflow-y: auto;
    margin-top: 20px;
    background: white;
    padding: 40px 50px;
}

ul.choices {
    list-style: none;
    margin-top: 35px;
}

ul.choices li {
    margin-bottom: 25px;
}

li.question-tab {
    width: 100%;
    max-width: 960px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 20px 35px;
    margin: 0 auto;
    margin-bottom: 20px; 
}


#question-list::-webkit-scrollbar{
    width: 10px!important;
}

#question-list::-webkit-scrollbar-track{
    border-radius: 30px!important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
}

#question-list::-webkit-scrollbar-thumb{
    background: #343434!important;
    border-radius: 30px!important;
    height: 200px!important;
   
}

#question-list::-webkit-scrollbar-thumb:hover{
    background: #777777!important;
}


.results {
    margin-top: 50px;
    text-align: center;
}

p.counts {
    font-size: 55px;
}


/* ============= result.html ============ */
.results-box {
    margin: 0 auto;
}

.student-info, .marks-sheet  {
    padding: 40px 60px;
    background: white;
    border-radius: 30px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
    margin-top: 90px;
    margin-bottom: 50px;
    padding-bottom: 130px;
}

.student-info h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #2b2e34;
}

.student-info a{
    color: #2b2e34!important;
    font-size: 15px;
    font-weight: 600;
}

.marks-sheet {
    padding-left: 80px;
    padding-right: 80px;
    margin: 0!important;
}

.marks-sheet h4 {
    font-size: 30px;
    text-transform: uppercase;
    color: #2b2e34;
}

.divider {
    height: 235px;
    width: 2px;
    background: #4e5353;
}

.marks h5 {
    font-size: 85px;
}

.marks p {
    font-size: 20px;
    text-transform: uppercase;
}

.marks p.total-marks {
    font-size: 35px;
}

.marks {
    text-align: center;
}

a.button.btn-green.btn-result.pass p {
    font-size: 14px;
}

.results-box{
    padding-bottom: 70px;
}




/* ================== responsive code ==============*/
@media screen and (max-width:414px){
    .section-title{
        font-size: 22px;
    }

    .section-content {
        font-size: 14px!important;
        margin: 0 auto;
    }

    .button {
        padding: 10px 72px;
    }

    .banner-wrapper {
        text-align: center;
    }

    .instraction-contents ul li {
        font-size: 15px;
        margin-bottom: 15px;
        color: #2c2e35;
    }

    .instraction-contents {
        padding: 25px 20px;
    }

    .start-btn {
        text-align: center;
    }

    #topics-wrapper li p.magic-topic{
        padding-left: 0;
    }

    #topics-wrapper{
        margin-top: 20px;
    }

    #question-list{
        padding: 40px 35px;
    }

    .close-topic{
        right: 30px;
    }
}